streamlit
langchain
huggingface-hub
PyMuPDF
python-docx
requests
transformers
sentence-transformers
python-dotenv
langchain_community
document_processor
traceback
langchain_huggingface
langchain-anthropic 
anthropic
langchain_openai
langchain_groq
ChatGroq
LLMHandler